@font-face {
  font-family: "Proxima Nova";
  src: url("fons/ProximaNova-Light.eot?#iefix") format("embedded-opentype"),
    url("fons/ProximaNova-Light.woff") format("woff");
  font-weight: 300px;
  font-style: 300px;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("fons/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("fons/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-size: 14px;
  font-family: "Proxima Nova", sans-safir;
  color: #9d9d9d;
}
* {
  box-sizing: border-box;
}
.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 80px;
  letter-spacing: -0.36em;
}
.container > * {
  letter-spacing: normal;
}
.col {
  display: inline-block;
  width: calc(33.3% - 20px);
  padding: 40px;
  margin-left: 10px;
  margin-right: 10px;
  background: #ddd;
  text-align: center;
}
.col:first-child {
  margin-left: 0;
}
.col:last-child {
  margin-right: 0;
}
.col_title {
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}
.col_text {
  font-weight: 300px;
  word-break: break-all;
}
.btn {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background: #1275b9;
  padding: 0;
  margin: 0;
  border: 0;
  /*background-image: url(img/Tablet-wight.png);
  background-repeat: no-repeat;
  background-position: center;*/
}
img.hover {
  display: none;
}
.btn:hover {
  background: #fff;
  border: 1px solid #1275b9;
}
.btn:hover img {
  display: none;
}
.btn:hover img.hover {
  display: inline-block;
}
*/ p {
  font-size: 14px;
  line-height: 24px;
}
